:root {
  /* VARIABLES */
  --spacing-1000: 80px;
  --spacing-1000-rem: 5rem;
  --spacing-800: 64px;
  --spacing-800-rem: 4rem;
  --spacing-900: 72px;
  --spacing-900-rem: 4.5rem;
  --spacing-700: 56px;
  --spacing-700-rem: 3.5rem;
  --spacing-1400: 112px;
  --spacing-1400-rem: 7rem;
  --spacing-400: 32px;
  --spacing-400-rem: 2rem;
  --spacing-200: 16px;
  --spacing-200-rem: 1rem;
  --spacing-500: 40px;
  --spacing-500-rem: 2.5rem;
  --spacing-100: 8px;
  --spacing-100-rem: 0.5rem;
  --spacing-300: 24px;
  --spacing-300-rem: 1.5rem;
  --spacing-50: 4px;
  --spacing-50-rem: 0.25rem;
  --font-size-desktop-text-preset-1: 64px;
  --font-size-desktop-text-preset-1-rem: 4rem;
  --font-size-desktop-text-preset-2: 40px;
  --font-size-desktop-text-preset-2-rem: 2.5rem;
  --font-size-desktop-text-preset-3: 16px;
  --font-size-desktop-text-preset-3-rem: 1rem;
  --font-size-desktop-text-preset-4: 18px;
  --font-size-desktop-text-preset-4-rem: 1.125rem;
  --font-size-desktop-text-preset-5: 16px;
  --font-size-desktop-text-preset-5-rem: 1rem;
  --font-size-tablet-text-preset-1: 48px;
  --font-size-tablet-text-preset-1-rem: 3rem;
  --font-size-tablet-text-preset-2: 36px;
  --font-size-tablet-text-preset-2-rem: 2.25rem;
  --font-size-tablet-text-preset-3: 14px;
  --font-size-tablet-text-preset-3-rem: 0.875rem;
  --font-size-tablet-text-preset-4: 16px;
  --font-size-tablet-text-preset-4-rem: 1rem;
  --font-size-mobile-text-preset-1: 40px;
  --font-size-mobile-text-preset-1-rem: 2.5rem;
  --font-size-mobile-text-preset-2: 32px;
  --font-size-mobile-text-preset-2-rem: 2rem;
  --font-size-mobile-text-preset-3: 12px;
  --font-size-mobile-text-preset-3-rem: 0.75rem;
  --color-cyan-600: #4d96a9;
  --color-cyan-300: #8fe3f9;
  --color-purple-600: #855fb1;
  --color-purple-300: #d9b8ff;
  --color-slate-900: #28283d;
  --color-white: #fafafa;
  --color-slate-600: #87879d;
  --color-slate-300: #d1d1df;
}